@import "tailwindcss";

.primary {
  @apply gap-x-2 cursor-pointer text-white bg-[#2557D6] hover:bg-[#2557D6]/90 focus:ring-4 focus:ring-[#2557D6]/50 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#2557D6]/50;
  * {
    margin-inline-start: -2px;
    margin-inline-end: -2px;
  }
}

.secondary {
  @apply gap-x-2 cursor-pointer bg-transparent inline-flex h-12 items-center justify-center rounded-md bg-neutral-950 px-6 font-medium shadow-lg transition active:scale-95 hover:bg-blue-500 border border-blue-500 text-blue-700 dark:text-blue-300 focus:ring-4 focus:ring-[#2557D6]/50 focus:outline-none;
  /* @apply flex flex-row text-center inline-flex items-center w-fit gap-x-2 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded; */
  * {
    margin-inline-start: -2px;
    margin-inline-end: -2px;
  }
}
